[user]
	email = abhmul@gmail.com
	name = jetm
[alias]
	s = status
	a = !git add -A
	u = !git add -u
	c = !git commit -m
	ac = !git a && git c
	uc = !git u && git c
	p = !git push -u origin HEAD
	fr = !git stash && git pull -r && git stash pop
	frp = !git fr && git p -f
	acp = "! f() { git ac \"$1\" && git p; } ; f"
	ucp = "! f() { git uc \"$1\" && git p; } ; f"
	up = "! f() { git ac \"$1\" && git frp; } ; f"
[pull]
	ff = only


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
